<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>Nueva experiencia</title>
</head>

<body>
    <header>
        <h1>Nueva experiencia</h1>
    </header>
    <main>
        <form action="/create-experience-with-api" method="POST">
            <div>
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" />
            </div>
            <div>
                <label for="texto">Texto:</label>
                <textarea type="text" id="texto" name="texto" rows="10"></textarea>
            </div>
            <div>
                <label for="imagen">Imágenes:</label>
                <input type="file" id="imagen" name="imagen" accept="image/*" />
            </div>
            <div>
                <label for="filtro">Filtro:</label>
                <select id="filtro" name="filtro" multiple>
                    <option value="pais">País</option>
                    <option value="ciudad">Ciudad</option>
                    <option value="naturaleza">Naturaleza</option>
                    <option value="ocio">Ocio</option>
                    <option value="precio">Precio</option>
                </select>
            </div>
        
            <input type="text" name="name" value="{{body.name}}">
            <input type="text" name="address" value="{{body.address}}">
            <input type="text" name="lat" value="{{body.lat}}">
            <input type="text" name="lng" value="{{body.lng}}">
            <div>
                <button type="submit">Crear Experiencia</button>
            </div>

        </form>
    </main>
</body>

</html>